.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  padding: 2px 12px 2px 12px;
  font-weight: 700;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.card__image {
  width: 100%;
}

.card__like-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 18px;
  background-image: url("");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.card__like-btn:hover {
  opacity: 0.6;
}

.card__like-btn_active {
  background-image: url("");
}
