.app {
  background-color: #f3f3f3;
  padding: 0 20px;
  font-family: "Grotesk", sans-serif;
}

.app__content {
  max-width: 1360px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
