.modal__footer {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  border: none;
}

.modal__caption {
  margin: 0;
  font-weight: 700;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal__weather {
  margin: 0;
  font-weight: 400;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../../assets/close-button.svg");
  border: none;
  padding: 8px 0;
}

.modal__delete-btn {
  width: 98px;
  height: 24px;
  color: rgba(255, 77, 0, 1);
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  border: none;
}
